[submodule "kernel"]
	path = kernel
	url = ../../pulp-platform/pulp-freertos-kernel.git
[submodule "common/pmsis_api"]
	path = common/pmsis_api
	url = ../../GreenWaves-Technologies/pmsis_api.git
[submodule "support/dpi-models"]
	path = support/dpi-models
	url = ../../pulp-platform/dpi-models.git
[submodule "support/json-tools"]
	path = support/json-tools
	url = ../../pulp-platform/json-tools.git
[submodule "support/pulp-debug-bridge"]
	path = support/pulp-debug-bridge
	url = ../../pulp-platform/pulp-debug-bridge.git
[submodule "support/archi"]
	path = support/archi
	url = ../../pulp-platform/archi.git
[submodule "support/gvsoc"]
	path = support/gvsoc
	url = ../../pulp-platform/gvsoc.git
[submodule "support/pulp-configs"]
	path = support/pulp-configs
	url = ../../pulp-platform/pulp-configs.git
[submodule "support/runner"]
	path = support/runner
	url = ../../pulp-platform/runner.git
